html{
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

nav img {
  height: 44px;
}

nav .sound {
  height: 44px;
}

.sound svg {
  height: inherit;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 6px;
  color: black;
  background-color: white;
}

.cell {
  height: 200px;
  width: 200px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 160px;
  background-color: black;
}

.scores {
  display: flex;
  gap: 5rem;
  color: white;
  font-size: 30px;
  text-align: center;
  align-items: center;
}

.score {
  font-size: 60px;
  font-weight: bold;
}

/* responsive design  */
@media screen and (max-width: 620px) {
  .cell {
    width: 120px;
    height: 120px;
    font-size: 90px;
  }

  .scores {
    font-size: 24px;
  }

  .score {
    font-size: 40px;
  }
}